/*------------------
    window count
------------------*/

#windowcount {
	margin-right: 12px;
}
#windowcount label {
	color: @hover-fg;
}

/*-----------------
    temperature
-----------------*/

#custom-left_div.2 {
	color: @temperature;
}
#temperature {
	background-color: transparent;
}

/*------------
    memory
------------*/

#custom-left_div.3 {
	background-color: @distro-sides;
	color: @cpu;
}
#memory {
	background-color: @distro-sides;
	font-size: 15px;
}

/*---------
    cpu
---------*/

#custom-left_div.4 {
	background-color: transparent;
	color: @distro-sides;
}
#cpu {
	background-color: transparent;
}
#cpu.span{
	background-color: red;
}
#custom-left_inv.1 {
	color: @distro-sides;
}

/*-----------------
    distro icon
-----------------*/

#custom-left_div.5,
#custom-right_div.2 {
	color: @accent;
}
#custom-distro {
	padding: 0 10px 0 5px;
	background-color: @accent;
	color: black;
}

/*--------------------
    idle inhibitor
--------------------*/

#custom-right_inv.1 {
	color: @distro-sides;
}
#idle_inhibitor {
	background-color: @distro-sides;
	padding: 0;
	margin: 0;
}

/*----------
    time
----------*/

#clock.time {
	/*padding-right: 6px;*/
	background-color: @distro-sides;
	font-size: 15.5px;
	padding: 0;
	padding-bottom: 0px;
	margin: 0;
}
#custom-right_div.3 {
	background-color: transparent;
	color: @distro-sides;
}

/*----------
    date
----------*/

#clock.date {
	padding-left: 6px;
	background-color: transparent;
}
#custom-right_div.4 {
	background-color: @tray;
	color: @date;
}

/*-----------------
    system tray
-----------------*/

#network {
	background-color: transparent;
	padding: 0 6px 0 4px;
}
#bluetooth {
	background-color: transparent;
	padding: 0 5px;
}
#custom-system_update {
	background-color: transparent;
	padding: 0 8px 0 2px;
}
#custom-right_div.5 {
	color: @tray;
}
