/* ignore GTK theme */
* {
	all: initial;
	transition: all 0.3s ease;
}

@import "current-theme.css";
@import "styles/fonts.css";
@import "styles/global.css";
@import "styles/modules-center.css";
@import "styles/modules-left.css";
@import "styles/modules-right.css";
@import "styles/states.css";

#custom-cpu-frequency{
	background-color: transparent;
	font-size: 12px;
	padding-top: 5px;
	font-family: "Symbols Nerd Font", monospace;
}
#memory{
	font-size: 15px;
	font-family: 'Symbols Nerd Font', monospace;
	padding-left: 5px;
	padding-bottom: 2px;
}
#custom-distro:hover{
	color: white;
	padding: 0 30px;
}


.modules-left{
	background: url("./trapezoid_left.svg");
	background-size: cover;
	padding: 0;
	padding-right: 10px;
}
.modules-center{
	background: url("./trapezoid_center.svg");
	background-size: cover;
	background-repeat: repeat-x;
	padding: 0 10px;
}
#workspaces {
	padding: 0 1px;
	background-color: transparent;
}
#workspaces button{
	padding: 0 6px;
	padding-right: 10px;
	border-radius: 0px;
	transition: all .4s ease;
}
#workspaces button:hover{
	background-color: transparent;
	background-color: rgba(255,255,255,.1);
	border-radius: 30px;
}
#workspaces button.active,
#workspaces button.focused {
	background: linear-gradient(to top, rgba(142, 5, 173, .8) 5%, transparent 50%);
	border-radius: 0px;
}
/*#workspaces button.empty{
	padding-top: 10px;
}*/
#workspaces button label{
	font-family: 'MesloLGSDZ Nerd Font', monospace;
	font-size: 16px;
	padding: 0;
}
#workspaces button.active label,
#workspaces button.focused label {
	text-shadow: 0 0 5px rgb(144, 0, 255);
	font-size: 18px;
	padding: 0;
	
}

.modules-right{
	background: url('./trapezoid_right.svg');
	background-size: cover;
	padding-left: 50px;
}


#backlight{
	background-color: transparent;
	padding: 0 5px;
}
#pulseaudio {
	margin: 0;
	padding: 0;
	padding-right: 0;
	background-color: rgba(0, 0, 0, 0.195);
	background-color: transparent;
}

#custom-gpu-state {
	padding-right: 5px;
	font-family: 'MesloLGSDZ Nerd Font', monospace;
	background-color: transparent;
}
#custom-gpu-state.available{
	color: rgb(173, 59, 243);
	text-shadow: 0 0 3px rgba(0, 217, 255, 0.58);
}
#custom-gpu-state.unavailable{
	color: rgb(87, 87, 87);
}

#custom-crop-toogle{
    padding-right: 5px;
    margin-right: 10px;
}

#custom-hider{
    font-size: 18px;
    color: rgba(255,255,255,.2);
}
#custom-hider:hover{
    color: rgba(255,255,255,.4);
    text-shadow: 0 0 5px rgba(173, 59, 243, .3);
}